* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: #171723;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body::after {
    content: "";
    position: absolute;
    background: linear-gradient(45deg, rgba(237, 75, 255, 0.5), rgb(75, 75, 255, 0.5));
    width: 100%;
    height: 25%;
    top: 0px;
    z-index: -1;
}

.titleSection {
    width: 70%;
}

.appTitle {
    color: white;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}

.cardContainer {
    width: 70%;
    height: 75%;
    background: #24273D;
    border-radius: 10px;
    min-width: 800px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.createCard {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.accentButton {
    position: relative;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    background: rgba(75, 75, 255, 0.297);
    color: rgb(209, 209, 209);
    border: none;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.accentButton::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(45deg, rgb(237, 75, 255), rgb(75, 75, 255));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.accentButton:hover {
    transition: 300ms;
    background: rgba(75, 75, 255, 0.153);
}

.accentButton:active {
    background: rgba(75, 75, 255, 0.515);
}

.card {
    width: 100%;
    height: 17%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    min-height: 110px;
}

.cardTitle {
    font-size: 40px;
    font-weight: 500;
    position: relative;
}

.cardTitle:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 120%;
    bottom: 15px;
    left: 0;
    background: white;
    margin-bottom: -10px;
}

.cardDescription {
    font-size: 15px;
}

.cardTags {
    font-size: 12px;
    display: flex;
}

.tag {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(45deg, rgb(237, 75, 255), rgb(75, 75, 255));
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: rgb(239, 239, 239);
    font-size: 15px;
    font-weight: 300;
}

.cardDueDate {
    width: 10%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.accentLine {
    width: 100%;
    height: 1px;
    background: rgb(69, 69, 69);
    position: relative;
    top: 0;
}

.cardButton {
    margin-top: 5px;
    margin-right:1px;
    justify-items: end;
    font-size: 15px;
}

#box
{
    width: 300px;
    height: 300px;
    background: #171723;
    color: white;
    border: red dotted 5px;
    text-align: center;
    position: absolute;
    margin-left: -50px;
    margin-top: -50px;
    left: 40%;
    top: 35%;
    z-index: 20;
    display: none;
}
 
#screen
{
    position: absolute;
    left: 0;
    top: 0;
    background: #000;
}

.labels {
    position: absolute;
    left: 0px;
}
#submitButton{
    position: absolute;
    bottom: 180px;
    width: 80px;
    left: 72%;
    background: #24273D;
    color: white;
}

.boxText{
    position: absolute;
    right: 1px;
    width: 200px;
    background: #24273D;
    color: white;
}

.temp {
    position: absolute;
    bottom: 120px;
    width: 80px;
    left: 72%;
    background: #24273D;
    color: white;    
}