* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    z-index: 1;
}

.bodyWorkAround {
    height: 100vh;
    width: 100vw;
    background: #171723;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.accentBackDrop {
    position: absolute;
    background: linear-gradient(45deg, rgba(237, 75, 255, 0.5), rgb(75, 75, 255, 0.5));
    width: 100%;
    height: 25%;
    top: 0px;
}

.titleSection {
    width: 70%;
}

.appTitle {
    color: white;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 600;
}

.cardContainer {
    width: 70%;
    height: 75%;
    background: #24273D;
    border-radius: 10px;
    min-width: 800px;
    overflow-y: scroll;
    scrollbar-width: none;
    flex-direction: column;
}

.createCard {
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70px;
}

.accentButton {
    position: relative;
    padding: 10px 15px;
    margin: 5px;
    display: inline-block;
    font-size: 25px;
    background: rgba(75, 75, 255, 0.297);
    color: rgb(209, 209, 209);
    border: none;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}

.accentButton::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 10px;
    padding: 2px;
    background: linear-gradient(45deg, rgb(237, 75, 255), rgb(75, 75, 255));
    -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    pointer-events: none;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.accentButton:hover {
    transition: 300ms;
    background: rgba(75, 75, 255, 0.153);
}

.accentButton:active {
    background: rgba(75, 75, 255, 0.515);
}

.spaceButton {
    margin-left: 100px;
}

.card {
    width: 100%;
    height: 17%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    min-height: 110px;
}

.completedBackground {

}

.cardTitle {
    font-size: 40px;
    font-weight: 500;
    position: relative;
}

.cardTitle:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 120%;
    bottom: 15px;
    left: 0;
    background: white;
    margin-bottom: -10px;
}

.cardDescription {
    font-size: 15px;
}

.cardTags {
    font-size: 12px;
    display: flex;
}

.tag {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(45deg, rgb(237, 75, 255), rgb(75, 75, 255));
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    color: rgb(239, 239, 239);
    font-size: 15px;
    font-weight: 300;
}

.cardDueDate {
    width: 10%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.accentLine {
    width: 100%;
    height: 1px;
    background: rgb(69, 69, 69);
    position: relative;
    top: 0;
}

.cardButton {
    margin-top: 5px;
    margin-right:1px;
    justify-items: end;
    font-size: 15px;
}

.completedBackground{
    background: rgba(128, 128, 128, 0.14);
}

.completed {
    text-decoration: line-through;
    color: gray !important;
}

.uncompleted {
    color: white;
}

.editView{
    display: flex;
    height: 50px;
    margin-left: 25px;
    width: 250px;
    align-items: center;
}

.editFields {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}

.editInput {
    background: #24273d;
    color: white;
    border-radius: 5px;
    margin: 2px;
    border: solid 1px white;
    padding-left: 2px;
}

.LoadingScreen{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hideLoading {
    display: none;
}

@media (max-width: 800px) {
    .bodyWorkAround{
        height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
    }
    .accentBackDrop {
        display: none;
    }
    .titleSection{
        height: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(45deg, rgba(237, 75, 255, 0.5), rgb(75, 75, 255, 0.5));
    }
    .appTitle{
        font-size: 30px;
    }
    .cardContainer{
        height: 80%;
        width: 100%;
        min-width: 0;
        border-radius: 0px;
        overflow: scroll;
    }
    .createCard {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        background: #24273D;
    }
    .createCard main {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card{
        flex-flow: column;
        align-items: center;
    }
    .cardButton {
        margin-right: 0 !important;
        margin-left: 0 !important;
        flex-flow: row;
    }
    .cardDescription {
        text-align: center;
    }
    .cardTags{
        display: flex;
        justify-content: center;
    }
    .cardTitle::after{
        width: 100%;
    }
}
